/* SectionInfo.css */

.section-info-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-header h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.section-header h3 {
    font-size: 1.2em;
    color: #555;
}

.section-details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-box, .right-box {
    flex: 1;
}

.left-box p:first-of-type {
    display: flex;
    flex-direction: column;
}

.left-box p:first-of-type .label {
    color: #0056b3; /* Blue color for the key */
    margin-bottom: 7px; /* Space between key and value */
}

.label {
    font-weight: bold;
    display: inline-block;
    width: 140px;
    color: #0056b3; /* Blue color for the key */
}

.value {
    color: #333;
}

.value a {
    color: #0056b3;
    text-decoration: none;
}

.value a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}
