.favorites-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.favorites-title {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.errorMessage {
    color: red;
    text-align: center;
}

.favorites-list {
    list-style-type: none;
    padding: 0;
}

.favorites-listItem {
    margin-bottom: 16px;
}

.no-data {
    color: #777;
    text-align: center;
    margin-top: 20px;
}