/* HomePage.css */
.homepage-container, .rankings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.homepage-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage-input {
    padding: 12px 15px;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.homepage-input::-webkit-input-placeholder {
    color: #6c757d;
    font-size: 18px;
    opacity: 1;
}

.homepage-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}


.homepage-button {
    padding: 12px 15px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.homepage-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.error-message, small {
    text-align: center;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}

.homepage-small {
    font-size: 14px;
    color: #6c757d;
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
}