.header {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.title {
    color: #007BFF;
    font-size: medium;
    background: none;
    border: none;
    cursor: pointer;
}

.user {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

.dropdown {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 200px;
    z-index: 1000;
    display: none;
}

.dropdown.show {
    display: block;
}

.dropdown button {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #333;
    display: block;
}

.dropdown button:hover {
    background-color: #f0f0f0;
}
